{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>계좌 조회</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<div class="container">
        <br><h1>계좌 조회</h1><br>
        <table class="table table-striped">
            <tr> <td>계좌번호</td> <td>{{ acc_number }}</td> </tr>
            <tr> <td>잔고</td> <td>￦{{ balance }}</td> </tr>
        </table>

        <a href="/select_action/" class="btn btn-primary btn-block">거래 선택으로</a>
</div>
</body>
</html>