<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <br><h1>계좌 생성</h1><br>
    <form method="POST" action="/create_acc_action/">
        <label class="form-group" for="accPassword">계좌 비밀 번호: </label>
        <input class="form-control" type="password" id="accPassword" name="accPassword">
        <br>
        <button class="btn btn-primary" type="submit">생성</button>
    </form>
</div>
</body>
</html>