<!-- 어차피 입금과 출금의 출력정보와 받는 인수의 종류가 같으므로
    하나의 페이지로 작업하고 뒷단에서 작업해준다-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit / Withdraw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<div class="container">
    <br><h1>{{ dep_or_with }}</h1><br>
    <form method="POST" action="/dep_or_with_result/">
    <table class="table table-lined">
        <tr> <td>계좌 번호</td> <td>1001</td> </tr>
        <tr> <td>잔고</td> <td>\10,000</td> </tr>
        <tr> <td>거래 금액</td> <td><input class="form-control col-sm-2" name="amount"></td> </tr>
    </table>
        <input type="hidden" name="type" value="deposit">
        <button class="btn btn-primary btn-block" type="submit">입/출금</button>
    </form>
</div>
</body>
</html>