<!-- 어차피 입금과 출금의 출력정보와 받는 인수의 종류가 같으므로
    하나의 페이지로 작업하고 뒷단에서 작업해준다-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ dep_or_with }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<div class="container">
    <br><h1>{{ dep_or_with }}</h1><br>
    <form method="POST" action="/dep_or_with_result/">
    <table class="table table-lined">
        <tr> <td>계좌 번호</td> <td>{{ acc_number }}</td> </tr>
        <tr> <td>잔고</td> <td>￦{{ balance }}</td> </tr>
        <tr> <td>거래 금액</td> <td><input class="form-control col-sm-2" id="amount" name="amount" required autofocus></td> </tr>
    </table>
        <input type="hidden" name="type" id="type" value="{{ url_type }}">
        <button class="btn btn-primary btn-block" type="submit">{{ dep_or_with }}</button>
    </form>
</div>
</body>
</html>