<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <br><h1>로그인</h1><br>
        <form method="POST" action="/select_action/">
                <label class="form-group" for="UserId">ID: </label>
                <input type="text" class="form-control" id="UserId" name="UserId">
            <br>
                <label class="form-group" for="Password">Password: </label>
                <input type="password" class="form-control" id="Password" name="Password">
            <br>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</body>
</html>