{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>거래 선택</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    <div class="container">
        <br><h1>무엇을 하시겠습니까?</h1><br>
        <a href="/create_acc/" class="list-group-item list-group-item-action">계좌 만들기</a>
        <form method="post" action="/select_account/">
            <input type="hidden" name="type" value="deposit">
            <button class="list-group-item list-group-item-action">입금</button>
        </form>
        <form method="post" action="/select_account/">
            <input type="hidden" name="type" value="withdraw">
            <button class="list-group-item list-group-item-action">출금</button>
        </form>
        <form method="post" action="/select_account/">
            <input type="hidden" name="type" value="send_money">
            <button class="list-group-item list-group-item-action">송금</button>
        </form>
        <form method="post" action="/select_account/">
            <input type="hidden" name="type" value="check_account">
            <button class="list-group-item list-group-item-action">계좌 조회</button>
        </form>
        <a href="/logout/" class="list-group-item list-group-item-action">로그아웃</a>
    </div>
</body>
</html>