<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Action</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>무엇을 하시겠습니까?</h1>
        <a href="create_acc.html" class="list-group-item list-group-item-action">계좌 만들기</a>
        <a href="dep_or_with.html" class="list-group-item list-group-item-action">입금</a>
        <a href="dep_or_with.html" class="list-group-item list-group-item-action">출금</a>
        <a href="select_account.html" class="list-group-item list-group-item-action">송금</a>
        <a href="select_account.html" class="list-group-item list-group-item-action">계좌 조회</a>
        <a href="main.html" class="list-group-item list-group-item-action">홈으로</a>
    </div>
</body>
</html>