<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
        <br><h1>회원가입</h1><br>
        <form class="form-horizontal" method="POST" action="signup_result.html">
            <label for="Name">이름: </label>
            <input type="text" class="form-control" id="Name">
            <br>
            <label for="UserId">ID: </label>
            <input type="text" class="form-control" id="UserId">
            <br>
            <label for="Password">비밀번호: </label>
            <input type="password" class="form-control" id="Password">
            <br>
            <label for="DateOfBirth">생년월일: </label>
            <input type="date" class="form-control" id="DateOfBirth" placeholder="YYYY-MM-DD">
            <br>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </form>
</div>
</body>
</html>